<div class="footer clearfix">
    <div class="info supporter">
        <div class="container">

            <div class="row line01">

                <div class="col-sm-4 col-xs-12 supporter-person">
                    <img class="supporter-pic" src="https://e-space.vn/images/supporter-nguyen.png">
                    <div class="supporter-info">

                        <h3 class="supporter-title">Văn phòng TP.HCM</h3>
                        <div class="staff">
                            <div class="supporter-name">Ms Nguyên</div>
                            <div class="supporter-phones">
                                <div class="supporter-phones-item">0977-722-590</div>
                            </div>
                            <div class="supporter-skypes">
                                <div class="supporter-skypes-item">
                                    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
                                    <div class="SkypeButton" id="SkypeButton_Call_live:9043a70d09a0a5b5_2">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_live:9043a70d09a0a5b5_2",
                                                "participants": ["live:9043a70d09a0a5b5"],
                                                "imageSize": 24
                                            });
                                        </script>
                                        <p id="SkypeButton_Call_live:9043a70d09a0a5b5_2_paraElement" style="font-size:22px; color:#444444">
                                            <a href="javascript://" onclick="SkypeWebControl.SDK.Chat.startChat({ConversationType: 'person', ConversationId: 'live:9043a70d09a0a5b5'});">
                                                <div class="skype-button" style="pointer-events: none;">
                                                    <div></div>
                                                </div>
                                                <img src="https://secure.skypeassets.com/i/scom/images/skype-buttons/chatbutton_24px.png"
                                                    alt="Skype chat, instant message" role="Button" style="border:0; margin:24px; vertical-align:-30px;">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="staff">
                            <div class="supporter-name">Ms.Lan</div>
                            <div class="supporter-phones">
                                <div class="supporter-phones-item">0909-760-750</div>
                            </div>
                            <div class="supporter-skypes">
                                <div class="supporter-skypes-item">

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-xs-12 supporter-person">
                    <img class="supporter-pic hidden-xs" src="https://e-space.vn/images/tuvan_espace.png">
                    <div class="supporter-info">
                        <h3 class="supporter-title">Văn phòng Hà Nội</h3>
                        <div class="staff">
                            <div class="supporter-name">Ms. Loan</div>
                            <div class="supporter-phones">
                                <div class="supporter-phones-item">(024) 3227-2749</div>
                            </div>
                            <div class="supporter-phones">
                                <div class="supporter-phones-item"> 097-884-3885</div>
                            </div>

                            <div class="supporter-skypes">
                                <div class="supporter-skypes-item">
                                    <div class="SkypeButton" id="SkypeButton_Call_live:ngoloan.espace_3">
                                        <iframe style="display:none;" id="_detectSkypeClient_1513849840903"></iframe>
                                        <p id="SkypeButton_Call_live:ngoloan.espace_3_paraElement" style="font-size:22px; color:#444444">
                                            <a href="javascript://" onclick="Skype.tryAnalyzeSkypeUri('chat', '0');Skype.trySkypeUri_Generic('skype:live:ngoloan.espace?chat', '_detectSkypeClient_1513849840903', '0'); return false;">
                                                <img src="https://secure.skypeassets.com/i/scom/images/skype-buttons/chatbutton_24px.png"
                                                    alt="Skype chat, instant message" role="Button" style="border:0; margin:24px; vertical-align:-30px;">
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-4 col-xs-12 supporter-person">
                    <img class="supporter-pic hidden-xs" src="https://e-space.vn/images/supporter-tri.png">
                    <div class="supporter-info">
                        <h3 class="supporter-title">Tư vấn kỹ thuật</h3>
                        <div class="staff">

                            <div class="supporter-name">Mr Trí</div>
                            <div class="supporter-phones">
                                <div class="supporter-phones-item">(028) 3995-9505</div>
                            </div>
                            <div class="supporter-skypes">

                                <div class="supporter-skypes-item">
                                    <script type="text/javascript" src="/plugins/skypeassets/skype-uri.js"></script>

                                    <div class="SkypeButton" id="SkypeButton_Call_jackytringuyen_2">
                                        <script type="text/javascript">
                                            Skype.ui({
                                                "name": "chat",
                                                "element": "SkypeButton_Call_jackytringuyen_2",
                                                "participants": ["jackytringuyen"],
                                                "imageSize": 24
                                            });
                                        </script>
                                        <iframe style="display:none;" id="_detectSkypeClient_1513849841012"></iframe>
                                        <p id="SkypeButton_Call_jackytringuyen_2_paraElement" style="font-size:22px; color:#444444">
                                            <a href="javascript://" onclick="Skype.tryAnalyzeSkypeUri('chat', '0');Skype.trySkypeUri_Generic('skype:jackytringuyen?chat', '_detectSkypeClient_1513849841012', '0'); return false;">
                                                <img src="https://secure.skypeassets.com/i/scom/images/skype-buttons/chatbutton_24px.png"
                                                    alt="Skype chat, instant message" role="Button" style="border:0; margin:24px; vertical-align:-30px;">
                                            </a>
                                        </p>
                                        <iframe style="display:none;" id="_detectSkypeClient_1513849841298"></iframe>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row line02">

                <div class="col-sm-4 col-xs-12">

                    <div class="support-block address">

                        <div class="support-block-content">
                            <p>
                                The Prince Residence - P.4.11,
                                <br> Tầng 4- 19 Nguyễn Văn Trỗi,
                                <br> Q.Phú Nhuận, Hồ Chí Minh
                            </p>
                            <p>
                                Email
                                <br>
                                <span class="email">info@e-space.vn</span>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 col-xs-12">

                    <div class="support-block address">

                        <div class="support-block-content">
                            <p>
                                P209, Tầng 2 ,Tòa nhà Kim Ánh ,
                                <br> Số 1 ngõ 78 Duy Tân ,
                                <br> Cầu Giấy, Hà Nội
                            </p>
                            <p>
                                Email
                                <br>
                                <span class="email">info@e-space.vn</span>
                            </p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 col-xs-12">
                    <div class="support-block newsletter">
                        <h3 class="support-block-title">Nhận tin học tiếng Anh</h3>
                        <div class="support-block-content">
                            <p>
                                Đăng ký email để nhận
                                <br> thông tin ưu đãi, và tài liệu
                                <br> mới từ E-Space
                            </p>

                            <form action="/index/newsletter" method="post">
                                <input class="text-nh" name="Letter[email]" type="email" placeholder="Nhập Email...">
                                <input class="submit11" type="submit" value="GỬI">
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
