img {
    width: 100%;
    display: block;
}

.h2-tietle21 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
}

.intro-cell-left {
    padding: 25px 0;
}

.intro-cell-right {
    padding: 25px 0;
    background-color: #f5f5f5;
}
