<div class="container">
    <h2 class="h2-tietle">
        GIÁO VIÊN NATIVE
    </h2>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/14/ANNIE">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/14.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/14/ANNIE">ANNIE</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/ANNIE/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxNCwiZGF0ZSI6MTUxMzkwODgxOH0.HKNz8s9kV-crq7hnyP2SoRBPXHAscvWouLBZByM9yEs"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>UK</b>
                    <br> Hello,my name is Anna and I am here to help you improve your English skills in any field – from correct
                    pronunciation to test prep for all English exams! My lessons are all about you! I am a native English
                    teacher and I have been teaching English one-on-one for more than 10 ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/62/NINA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/62.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/62/NINA">NINA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/NINA/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo2MiwiZGF0ZSI6MTUxMzkwODgxOH0.aWL6fOwbqpuqwi5Tht6bu171q5XTjRy18zfQ1ibZ3mA"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hello! I’m teacher Nina. Thank you for showing interest in my profile! If you are reading this, you
                    find yourself in a journey to develop your communication skills, which not only will open many doors
                    professionally but also change the vision you have of yourself and the rest ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/70/JOE">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/70.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/70/JOE">JOE</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/JOE/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo3MCwiZGF0ZSI6MTUxMzkwODgxOH0.KRVoQG-DzJbSm0UBjZdcw3tRu3X5AtkxCIKI4vDBmD8"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>UK</b>
                    <br> I am teacher Joe, currently residing in Europe. I hold an MA degree in English language and literature,
                    and I have 5 years of teaching experience to students of all ages. I think love of learning a language
                    is the most important part of any education, and I'll do whatever it tak... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/77/ANA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/77.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/77/ANA">ANA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/ANA/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo3NywiZGF0ZSI6MTUxMzkwODgxOH0.EtAI5PuJfhMafP_44_uABj3O0FO2BB1xlTSIVz19-fg"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hi, I am a teacher Ana of E-Space. I am a certified English teacher and I hold an interdisciplinary
                    M.A.’s Degree in Religious Studies. I like teaching here because it gives me the opportunity to meet
                    new people while I do what I like- teaching English! I have been teaching En... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/85/GRAHAM">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/85.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/85/GRAHAM">GRAHAM</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/GRAHAM/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo4NSwiZGF0ZSI6MTUxMzkwODgxOH0.x7WLqruxyqikh4CVDoYRoptLoJbyhIhJ9ZrSos5OX8Y"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>AUSTRALIA</b>
                    <br> My name is Graham and I am an E-Space teacher. When I lived in Australia, I worked at large insurance
                    companies and banks. I also worked for the Government in Australia. When I moved to Thailand, I enrolled
                    in a TEFL course (Teach English as a Foreign Language), and successf... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/90/JOE-AB">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/90/JOE-AB">JOE AB </a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/JOE+AB+/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo5MCwiZGF0ZSI6MTUxMzkwODgxOH0.7F-m5k-nFW8LHQQaLwiUjbGKBxYr2DhJ94f50s78qmE"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hello, my name is Teacher Joe. I'm a 100% native speaker from America and fluent in Spanish. I have
                    many interests, such as Business, Sports, World News, All Cultures, Entertainment, Technology and Travel.
                    I'm very familiar with many cultures, having grown up in California. ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/108/BEN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/108.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/108/BEN">BEN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/BEN/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMDgsImRhdGUiOjE1MTM5MDg4MTh9.E3-H6dKaAWW_VgxreQXtbZMXljqOcrj6bYrcMCRlvOA"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hello, my name is Ben and I am excited to help you learn the English language! A little bit about myself:
                    I am from the United States, specifically the state of Virginia. I graduated from Radford University
                    in 2010 with a degree in Business Administration. After university, I... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/113/IWAN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/113.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/113/IWAN">IWAN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/IWAN/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTMsImRhdGUiOjE1MTM5MDg4MTh9.6-fnW8XL4J7f6ajLdUpXFWA_3h0Bw4HFzumAwleHzKc"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>UK</b>
                    <br> Hello! My name is Iwan, I am an English teacher for E-Space and I am here to help you improve your English!
                    In our lessons, we will be working to improve your English skills, whether it be pronunciation, grammar,
                    listening, reading or all of those. We will use the outstanding ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/115/ELLA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/115.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/115/ELLA">ELLA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/ELLA/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTUsImRhdGUiOjE1MTM5MDg4MTh9.iiHTy2PhpwRUMRJsf85pBc63TUoLTVfrpKCAlWY2LV0"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hello there! My name is Nartiyga. You can call me Ella. I am a native English teacher who has been teaching
                    English to different ages, cultures and professions for over 8 years. My lessons are relaxed and fun,
                    but with a serious goal to improve your English as quickly as possible... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/120/RONAN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/120.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/120/RONAN">RONAN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/RONAN/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjAsImRhdGUiOjE1MTM5MDg4MTh9.mNKsu7tVORE25a8Y3Pb7J_txYEz08PcEwTjgfsdr8bw"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>UK</b>
                    <br> Hello there, My name is Ronan, I speak English, French and some Japanese. I have been teaching English
                    for five years in several countries such as, Italy, the Czech Republic, Switzerland and China, I have
                    also taught a variety of age groups from 5 to 75 and covered specialized co... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/122/MICHAEL">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/122.jpg">
                </a>
                <h4 class="title-techer">
                    <a href="/giao-vien/chi-tiet/122/MICHAEL">MICHAEL </a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/dat-lich-hoc-voi-giao-vien/MICHAEL+/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjIsImRhdGUiOjE1MTM5MDg4MTh9.oL10iBBXSC9-L5vt8Uv2ahiMmBYp6HVSZAOrcayEUMI"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>USA</b>
                    <br> Hello, my name is Michael Sanchez. I am a native English speaker from the USA and a Certified TEFL (Teach
                    English as a Foreign Language) Teacher. I also earned a Bachelor’s Degree in Theatre and Communication
                    from the University of Illinois in Chicago. I have experience teachin... </p>
                <div class="con-color"></div>
            </div>
        </div>
    </div>
    <!-- part1 -->
    <!-- part1 -->
    <h2 class="h2-tietle">
        GIÁO VIÊN ASIA
    </h2>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/18/BICHPHAM">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/18.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/18/BICHPHAM">BICHPHAM</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxOCwiZGF0ZSI6MTUxMzkwODgxOH0.fnUfR8ASCE_WkFVAIATBsiCXS8Uzz82iVYKECyh3bgo"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hi, my name is Bichpham. I have been working as an English teacher for 13 years so far. Supporting the
                    learners who have some language problems such as being too shy to communicate, difficult to concentrate...
                    </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/21/HO%C3%80I-AN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/21.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/21/HO%C3%80I-AN">HOÀI AN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoyMSwiZGF0ZSI6MTUxMzkwODgxOH0.KlwhMaOFbN0dI-aZoUJ78fkUnu0wFaWuQ3kTKPTdHKM"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hi, my name is An. I love teaching at E-space because it gives the opportunity to share my love of the
                    English language with my students. I consider myself to be a lifelong student in the sense that I am
                    always learning... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/23/NEIL">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/23.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/23/NEIL">NEIL</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoyMywiZGF0ZSI6MTUxMzkwODgxOH0.Uhhn2XdDjPrbb_89UTmKtnFw_37who2Wng-y0MUpqaw"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>INDIAN</b>
                    <br> Hey there! My name is Neil. I've been teaching English for over 5 years now . I have done my masters
                    degree and research in Biosciences and also have a diploma in medicine. I got my TEFL/ TESOL certificate
                    in 2009,... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/27/EMMA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/27.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/27/EMMA">EMMA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoyNywiZGF0ZSI6MTUxMzkwODgxOH0.uZ104AXUQep5hfEQcQzd4dfJ7kieQWq8FEJlidhiMJs"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> Learning is a continuous process ..It does not matter how slowly you go, as long as you do not stop.
                    This is TEACHER Emma, Inviting you to join my class. I guarantee were having great fun…,I promise I will
                    understand you needs... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/47/MAVIC">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/47.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/47/MAVIC">MAVIC</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo0NywiZGF0ZSI6MTUxMzkwODgxOH0.Bhewfsdl_oJpNStz_-fpw9rVI_Jg1poccnMrShLzmdU"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> My name is Mavic. I graduated from De La Salle Araneta University. I’m a teacher by profession. I was
                    a classroom teacher for 3 years. I handled elementary and preschool children. I also have experience
                    one on one tutorial for kids ages 5-9 years old. </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/50/SHIRANI">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/50.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/50/SHIRANI">SHIRANI</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo1MCwiZGF0ZSI6MTUxMzkwODgxOH0.8wutVpjzCnLuF4ttFDDrYfcjxnC5iAsTuqXv0m1mtf0"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>SRI LANKA</b>
                    <br> Hi, I am Shirani. Teaching has been my passion and my students enjoy their class very much. I have over
                    5 years experience teaching kids between the ages of 6-14 years. I have travelled to more than 10 countries
                    and recognize the value of knowing English. I like to share my knowledge and skills...
                </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/72/MAY-NGUYEN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/72.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/72/MAY-NGUYEN">MAY NGUYEN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo3MiwiZGF0ZSI6MTUxMzkwODgxOH0.lsp32jFynjM1OQZM9dlACZoJwtiFB5aPYBdF0ko1FFE"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hello! My name is May. I am living in the United Kingdom as a graduate student. I obtained my bachelor
                    degree in Professional Communication at RMIT University. Believe me, learning English is very fun and…did
                    you know that learning a second language will help train your brain and help you to become SMARTER (and
                    also more successful)? I used to... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/84/KIM-NGUYEN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/84.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/84/KIM-NGUYEN">KIM NGUYEN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo4NCwiZGF0ZSI6MTUxMzkwODgxOH0.j5lT5rBs3xTBEYUeBOe8PyVfbgYwXFhX2MTDcGC5G7M"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hi! My name’s Kim. I have a Master's degree in Applied Linguistics, a Bachelor's degree in English,
                    and a TESOL Certificate. I have been teaching English to students of different ages and levels for more
                    than five years. I know learning a new language is not easy at all. So, I want to help you, even if now
                    you are scared of speaking English in ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/87/CAROL">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/87.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/87/CAROL">CAROL</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo4NywiZGF0ZSI6MTUxMzkwODgxOH0.rJHqBRdob78ZtAgu3WLrG7pHfllAVYXJno_PmFxk8D0"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO </b>
                    <br> Hello everyone and welcome. My name is Teacher Carol. I graduated from the University of the Visayas,
                    Cebu City Philippines with the bachelor’s degree of Information Technology. I have been teaching online
                    and offline for more than 4 years until the present. I am inviting you to enjoy and have fun with me
                    in learning the English language. Our foc... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/95/APRIL">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/95.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/95/APRIL">APRIL</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjo5NSwiZGF0ZSI6MTUxMzkwODgxOH0.ctAZE7rPS-aIYLxUYDme3CImthqTnFyXlPbSiseoMGU"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> Hi, I’m April. Are you interested about learning English? Do you love the language, or just want to
                    practice and improve your English language communication skills? I have been teaching for more than six
                    years, and I have taught English as a second language to Koreans for more than two years now. It’s a
                    great privilege to meet new people, both... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/101/TINA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/101.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/101/TINA">TINA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMDEsImRhdGUiOjE1MTM5MDg4MTh9.423UQFbEFXRSPSYOiEy_92PBOfrhGuZEOJ4lkLqK9P4"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> I am teacher Tina from the Philippines. I am a TESOL certified instructor with ten years of experience
                    in teaching students of different ages and nationalities. As a teacher I will make sure that you are
                    learning and having fun studying a new language. Don’t be afraid to make mistakes nor be shy to speak
                    up. Making mistakes is part of learning ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/102/PEARL">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/102.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/102/PEARL">PEARL</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMDIsImRhdGUiOjE1MTM5MDg4MTh9.xmNVL_MbBVlKpcukRLTYJU3hEBky0-yKb3qf1VUlAJ4"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> Hello My dear Students! I'm your Teacher Pearl! I will be your English buddy, I will give you some idea
                    how much English you should know and I will help you to have realistic expectations of what you will
                    be able to understand and do in our lessons.There are many reasons to learn English, but because it is
                    one of the most difficult languages to lea... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/104/TRANG-TRINH">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/104.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/104/TRANG-TRINH">TRANG TRINH</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMDQsImRhdGUiOjE1MTM5MDg4MTh9.jgN2jRZZUmwfcHOzoTK9YGYDdQ13GaTSC4aq3Eud4kM"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hello and very warm welcome. I'm Trang, a TESOL certified instructor, with 4-year-experience of living
                    and studying overseas as well as 3-year-experience working in a foreign company. If you believe that
                    good English is vital for success, and you are looking for ways to improve your English communication
                    skills, then join me in class. I believe t... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/105/MARY">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/105.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/105/MARY">MARY</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMDUsImRhdGUiOjE1MTM5MDg4MTh9.IgqC7uOUYOiIP3LQQJim6bLSLZnVq9I8otIuxLJgEwQ"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> Hello! My name is Mary and I'm from the Philippines. I have taught English for eight years and have
                    held offline and online classes. As a teacher, I will help you overcome your fear of learning and speaking
                    English,build your confidence and become a better speaker. Together, we will be achieving and fulfilling
                    your goal to be fluent on the English ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/110/HANG-HUYNH">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/110.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/110/HANG-HUYNH">HANG HUYNH</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTAsImRhdGUiOjE1MTM5MDg4MTh9.h1Mggb8emN1KYPikLM5_GC80xuj7kw0SUIEr6gsvG00"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>CANADIAN</b>
                    <br> My name is Hang (Stephanie), I am from Canada, but was originally born in Vietnam. I am so pleased to
                    be teaching students who would be eager to learn English. I have been teaching English for almost 2 years,
                    and I am capable of teaching English Communication, English Math, English in the field of business, marketing,
                    sales, report writing as well ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/114/NHU-NGUYEN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/114.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/114/NHU-NGUYEN">NHU NGUYEN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTQsImRhdGUiOjE1MTM5MDg4MTh9.ZqxvofpV0Vh5ISO-qYiB4ZGWCGZJQRg3eQJYC2F-nFw"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAMESE</b>
                    <br> Hi friends, my name is Nhu. I am a Graduate of Bachelor of Hotel and Tourism Management. I have spent
                    five years studying and living abroad; therefore, I would love to be not only your English study buddy
                    but we can also exchange cultural knowledge. In one course, I offer prepared structured classes that
                    teach skills like initiating conversations... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/117/ALLAN">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/117.png">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/117/ALLAN">ALLAN</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTcsImRhdGUiOjE1MTM5MDg4MTh9.9wVSEy3He2qCANai_SvK4P4tweKoueclxvN8rQBrafg"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPPINO</b>
                    <br> Hello there! It is with great humility and pride that I introduce myself to all of you. I am Teacher
                    Allan, an online English tutor. I have been teaching English in several offline and online academies
                    for more than ten years. I used to work for American International School for 3 years and PhilAce Academy
                    for 8 years which both provide English cou... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/118/VELMAR">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/118.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/118/VELMAR">VELMAR</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTgsImRhdGUiOjE1MTM5MDg4MTh9.KaaUS0pDsBXXlvSoIEqLqfEl_SfTHV4oIhCOcrdFfjU"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPPINO</b>
                    <br> Hello there! I am Teacher Velmar, an ESL Teacher here at E-Space. Learn English with a Purpose! I have
                    been to the field of teaching foreign individuals from different age group and from different walks of
                    life who got BIG REASONS why they pursue to learn and further enhance their English Language Learning.
                    I have met and taught English to Ko... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/119/ROSE">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/119.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/119/ROSE">ROSE</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMTksImRhdGUiOjE1MTM5MDg4MTh9.EOoued2Yxg422PVJKSADcCFE8GDpi4Gmnto8cl-OhYA"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPPINO </b>
                    <br> Carper diem! Sieze the day! This is Teacher Ann from the Philippines. I am an English teacher with a
                    9-year teaching experience in private and public academic institutions. Undeniably, there are only two
                    choices when it comes to learning something new: the choice to improve and excel despite mistakes along
                    the way and the choice to learn but settle... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/121/ZAKI-L%C3%8A">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/121.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/121/ZAKI-L%C3%8A">ZAKI LÊ</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjEsImRhdGUiOjE1MTM5MDg4MTh9.gkP5j9FW0kltElRDSsSx-4B5ZPeqCIfjkk--FCSCfYs"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>VIETNAM</b>
                    <br> Good morning everyone, Welcome to E-Space. How are you today? I hope that you are doing well and have
                    a great day! My name is Hang, you can also call me Zaki, it means pretty in Greek and smart in Arabic.
                    I’m now in Japan for my PhD or Doctoral Degree in Engineering. I have been studying and travelling to
                    different countries so I unde... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/123/ELENA">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/123.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/123/ELENA">ELENA</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjMsImRhdGUiOjE1MTM5MDg4MTh9.4ZlepIBBuPEcenAyTdH0qWiZoBZpJSDxWlXvn-kSHAg"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> Hello, I'm Elena and I'm from the Philippines. I'm a licensed teacher for the English language, as well
                    as a TESOL certified instructor. I have been teaching English to foreign learners for almost 9 years.
                    I am currently teaching in Hanoi. I would love to help you study the English language in one of my classes!
                    See you there! </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-md-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/124/MICKEY">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/124.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/124/MICKEY">MICKEY</a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjQsImRhdGUiOjE1MTM5MDg4MTh9.z5UfqY0fYLrHno7rHlVUuZIZT5AMhQwC0l_mGULEDo4"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPINO</b>
                    <br> I’m Merle and I am from the Philippines. I am new around here, but not quite new as an online English
                    teacher. I have been teaching English since 2014 and thanks to my new found friends, (yes, I consider
                    my students, my friends!) I’ve never looked back since then. I am a graduate of Bachelor of Arts in Mass
                    Communications, Major in Broadcasting... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/127/JANE">
                    <img class="img-responsive1" src="https://e-space.vn/avatar/teacher/127.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/127/JANE">JANE </a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjcsImRhdGUiOjE1MTM5MDg4MTh9.MAParPvfnqeRDd0GQNgdFjyW1y-zkumH60p8hgSjPvw"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPPINO </b>
                    <br> English is a Universal language. It provides international linkage and opens greater opportunities to
                    proficient language speakers. My name is Jane. I have a degree in Information and Computer Science and
                    started my Master in Information Technology. I opted not to become a programmer but be an instructor
                    of Mathematics and Computer programming ... </p>
                <div class="con-color"></div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="contai-giaovien">
                <a href="/giao-vien/chi-tiet/128/EVELYN">
                    <img class="img-responsive1" src="https://e-space.vnhttps://e-space.vn/avatar/teacher/128.jpg">
                </a>

                <h4 class="title-techer">

                    <a href="/giao-vien/chi-tiet/128/EVELYN">EVELYN </a>
                </h4>
                <a style="margin-bottom:5px; padding:5px 8px; color:red;" href="/booking-teacher/index?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0ZWFjaGVyX2lkIjoxMjgsImRhdGUiOjE1MTM5MDg4MTh9.P8RFKZ4P_XFzh_LzfbATGXIWYqL4pG0RvZL71uPaXuY"
                    class="btn btn-lg">Lịch dạy
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>

                <p>
                    <b>FILIPPINO </b>
                    <br> I am Evelyn, I am a public school teacher in the department of Education here in the Philippines. I
                    have been working as an ESL teacher since 2011 and I enjoy teaching English to both young and professional
                    students. I love motivating them to be confident and comfortable in speaking using the English language.
                    I can use a friendly, easy and most co... </p>
                <div class="con-color"></div>
            </div>
        </div>
    </div>
    <!-- part1 -->

</div>
