<div class="container hidden-sm hidden-xs">
    <h2 class="h2-tietle">
        <a style="color:#505050" href="/danh-gia">GIÁO VIÊN NỔI BẬT TRONG TUẦN</a>
    </h2>


    <div class="row">
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="NEIL" href="/giao-vien/chi-tiet/23/NEIL">
                    <img class="img" alt="NEIL" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">NEIL</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (7) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="CAROL" href="/giao-vien/chi-tiet/87/CAROL">
                    <img class="img" alt="CAROL" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">CAROL</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (7) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="JOE AB " href="/giao-vien/chi-tiet/90/JOE+AB+">
                    <img class="img" alt="JOE AB " src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">JOE AB </span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (6) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="ELENA" href="/giao-vien/chi-tiet/123/ELENA">
                    <img class="img" alt="ELENA" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">ELENA</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (4) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="BICHPHAM" href="/giao-vien/chi-tiet/18/BICHPHAM">
                    <img class="img" alt="BICHPHAM" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">BICHPHAM</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (3) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="TRANG TRINH" href="/giao-vien/chi-tiet/104/TRANG+TRINH">
                    <img class="img" alt="TRANG TRINH" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">TRANG TRINH</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (2) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="NHU NGUYEN" href="/giao-vien/chi-tiet/114/NHU+NGUYEN">
                    <img class="img" alt="NHU NGUYEN" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">NHU NGUYEN</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (2) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="ANA" href="/giao-vien/chi-tiet/77/ANA">
                    <img class="img" alt="ANA" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">ANA</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (1) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="APRIL" href="/giao-vien/chi-tiet/95/APRIL">
                    <img class="img" alt="APRIL" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">APRIL</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (1) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="TINA" href="/giao-vien/chi-tiet/101/TINA">
                    <img class="img" alt="TINA" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">TINA</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (1) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="PEARL" href="/giao-vien/chi-tiet/102/PEARL">
                    <img class="img" alt="PEARL" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">PEARL</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (1) lượt đánh giá
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2" style="padding:1px;">
            <div class="rank-block">
                <a title="VELMAR" href="/giao-vien/chi-tiet/118/VELMAR">
                    <img class="img" alt="VELMAR" src="https://e-space.vn/avatar/teacher/90.jpg">
                </a>
                <span class="name">VELMAR</span>

                <div class="star">
                    <img src="/assets/images/star-on.png" alt="1">
                    <img src="/assets/images/star-on.png" alt="2">
                    <img src="/assets/images/star-on.png" alt="3">
                    <img src="/assets/images/star-on.png" alt="4">
                    <img src="/assets/images/star-on.png" alt="5">
                </div>
                <div class="total">
                    Có (1) lượt đánh giá
                </div>
            </div>
        </div>
    </div>
    <div style="text-align:center; padding: 20px;">
        <a style="color: #FFF; background-color: #ff6459; font-size: 20px; display: inline-block; padding: 5px 20px;" href="/danh-gia">Xem thêm</a>
    </div>
</div>
