/* Rank block index*/
.container .rank-block{
    text-align: center;
    margin-top: 15px;
}
.container .rank-block .img{
    width: 100%;
    height: 190px;
}
.container .rank-block a{
    float:left;
    margin-bottom: 10px;
}

.container .rank-block .name{
    font-weight: bold;


}
.container .rank-block .total{
    font-size: 11px;

}

.container .rank-block .top .right .star{
    margin: 5px
}
