<div class="container">
        <h2 class="h2-tietle">
             ƯU ĐIỂM KHI HỌC ANH VĂN TẠI <span style="color:#15a90c;">E-SPACE</span>
        </h2>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center pading50">

                <p class="color-part3">
                     Các chương trình đào tạo tiếng Anh trực tuyến tại E-Space đều được các chuyên gia thiết kế theo một lộ trình khoa học, giúp học viên nhanh chóng lấy nền tảng vốn tiếng Anh, cũng như nâng cao khả năng giao tiếp. Học viên hòa toàn có thể tự tin nói tiếng Anh lưu loát sau 1 khóa học tại E-Space..                 </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="https://e-space.vn/images/iocn-pp1-1.png">
                <h3 class="h3-title">CHỦ ĐỘNG THỜI GIAN</h3>
                <p>
                     Chỉ cần máy tính, smartphone hoặc máy tính bảng có kết nối internet, Bạn có thể học tiếng Anh với Giáo viên E-SPACE ở bất cứ nơi đâu, bất cứ khi nào.
                </p>
            </div>

            <div class="col-sm-4 text-center">
                <img src="https://e-space.vn/images/iocn-pp1-1.png">
                <h3 class="h3-title"> PHƯƠNG PHÁP 1 - 1                    </h3>
                <p>
                       Mỗi học viên sẽ học với một giáo viên, tương tác 2 chiều suốt buổi học, giáo viên sẽ theo sát trình độ của học viên để giúp học viên tiến bộ cực nhanh.                 </p>
            </div>

            <div class="col-sm-4 text-center">
                <img src="https://e-space.vn/images/iocn-pp1-1.png">
                <h3 class="h3-title">TIẾT KIỆM - HIỆU QUẢ</h3>
                <p>
                    Với 100% giáo viên nước ngoài sẽ giúp bạn luyện phát âm chuẩn quốc tế. Học viên có thể chọn gói học theo ngân sách của mình và hủy lịch học không bị mất phí                </p>
            </div>
        </div>
    </div>
